<h1> this is myinfo page.</h1>
<div ng-if="myInfoCtrl.hasRegistered()">
  <div>First name: {{myInfoCtrl.getFirstName()}}</div>
  <div>Last name: {{myInfoCtrl.getLastName()}}</div>
  <div>Email: {{myInfoCtrl.getEmail()}}</div>
  <div>Phone: {{myInfoCtrl.getPhone()}}</div>
</div>
<div ng-if="!myInfoCtrl.hasRegistered()">
  <div>
    <span>Not Signed Up Yet. </span>
    <span ui-sref="public.signup">Sign up Now!</span>
    <div>First name: {{myInfoCtrl.getFirstName()}}</div>
    <div>Last name: {{myInfoCtrl.getLastName()}}</div>
    <div>Email: {{myInfoCtrl.getEmail()}}</div>
    <div>Phone: {{myInfoCtrl.getPhone()}}</div>
  </div>
</div>
